<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div>
        
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Real Estate</a>
              </div>
              
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                  <a href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li>
                <a href="{% url 'search' %}">Search</a>
            </li>
              <li>
                  <a href="{% url 'listings' %}">Listings</a>
              </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">{{user.email}}</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
          </div>
          
        </div>
      </nav>
  